@tailwind base;
@tailwind components;
@tailwind utilities;

/* canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */

*{
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}



.ocean {
  height: 100%;
  width: 100%;
  position: absolute;
  filter: blur(10px);
  position: fixed;
  z-index: -60;
}

.wave,
.wave::before,
.wave::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 50% 50%;
  background-color: transparent;
  border-radius: 38% 42%;
  box-shadow: inset 0 0 10vw rgba(124, 195, 225, 0.8);
  animation: spin 16s infinite linear;
  mix-blend-mode: multiply;
}

.wave::before {
  width: 105%;
  height: 95%;
  margin-top: -125vw;
  transform-origin: 49% 51%;
  border-radius: 40% 38%;
  box-shadow: inset 0 0 10vw rgba(149, 210, 237, 0.8);
  animation: spin 13s infinite linear;
}

.wave::after {
  width: 102%;
  height: 98%;
  margin-top: -125vw;
  transform-origin: 51% 49%;
  border-radius: 48% 42%;
  box-shadow: inset 0 0 10vw rgba(168, 228, 254, 0.8);
  animation: spin 10s infinite linear;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}